<header>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">

	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#"><img src="../assets/img/logo.jpg" alt="logo"></a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
			<li><a routerLink="">Registration</a></li>
			<li><a routerLink="/login">Login</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
</header>
<main>
	<h1>Perfect project</h1>
	<div class="description">
		<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis odio quas earum iste unde nihil voluptatibus corporis, veniam nisi voluptas, quia cum autem quae! Facilis et ut, amet consectetur omnis.
		</p>
		<p>
		Veniam velit, nisi omnis, sit, officiis animi dolores ad dicta quisquam voluptatibus numquam aliquid, placeat odit eligendi nemo ut eum! Totam doloribus libero maiores non tempora adipisci, quia ratione repellendus?
		</p>
		<p>
		Nesciunt ut, asperiores iste laudantium saepe possimus est, earum impedit exercitationem soluta expedita fugiat laboriosam consequatur in quae. Non provident mollitia esse iure illo distinctio odio, unde nostrum ab facilis.
		</p>
	</div>
</main>
<footer>
	<!-- some links here -->
</footer>