<app-header></app-header>


<main class="project-part">

	<app-dashboard-sidebar></app-dashboard-sidebar>

	<div class="content">
		<div>
			<h3>Project description</h3>

			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
				 eiciendis suscipit fuga accusantium consequuntur ad exercitationem? Voluptates repellendus soluta id pariat
				 ur delectus, veritatis numquam neque nihil corrupti quos possimus tempora non ipsum? Ipsam, laborum veniam,
				  voluptate dolorem vel dolore eveniet modi quasi porro, incidunt soluta accusantium nesciunt ipsa unde iure
				   nobis tempora nostrum provident odio nulla sit itaque?	</p>
		</div>
	</div>
	
</main>