<app-header></app-header>

<main class="profile">
  

  <div class="container">

    <div class="row">
      <div class="col col-md-4">

        <a routerLink="/dashboard">Dashboard</a>

        <h1>Profile</h1>
        <div class="foto">
          <img src="../assets/img/default_avatar.png" alt="">
        </div>
      </div>
      <div class="col col-md-8">
        <ul class="list_data">
          <li>
            <div class="label">Imie</div>
            <div class="text">Jhon</div>
          </li>
          <li>
            <div class="label">Nazwisko</div>
            <div class="text">Jhon</div>
          </li>
          <li>
            <div class="label">Email</div>
            <div class="text">Jhon@gmail.com</div>
          </li>
          <li>
              <div class="label">telefon</div>
              <div class="text">84645154</div>
            </li>
        </ul>
      </div>
    </div>

  </div>
</main>